div.center {
    margin: auto;
}

input {
    padding: 3px;
    width: 100%;
}

div.vertical-center {
    margin: 5px 0;
}

div.width-20 {
    width: 20%;
}
div.width-80 {
    width: 80%;
}

.active {
    border: 1px solid black;
}

.invalid {
    border: 1px solid red;
}